@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #383838;
}

@font-face {
  font-family: "gotham-black";
  src: url("../Fonts/Gotham-Black_1.otf");
}

@font-face {
  font-family: "gotham-black-italic";
  src: url("../Fonts/Gotham-BlackItalic_1.otf");
}

@font-face {
  font-family: "neosans-bold";
  src: url("../Fonts/Neo\ Sans\ Std\ Bold.otf");
}

@font-face {
  font-family: "neosans-medium";
  src: url("../Fonts/Neo\ Sans\ Std\ Medium.otf");
}

@font-face {
  font-family: "neosans-regular";
  src: url("../Fonts/Neo\ Sans\ Std\ Regular.otf");
}

@font-face {
  font-family: "primetime";
  src: url("../Fonts/PRIMETIME.ttf");
}

@layer components {
  .hero {
    background-image: url(./../public/hero_bg.jpg);
  }

  .school_year {
    background-image: url(./../public/school_year.jpg);
  }

  .scholarship {
    background-image: url(./../public/scholarship_bg.jpg);
  }

   .howto {
    background-image: url(./../public/howto_bg.jpg);
  }



  .shadow {
    text-shadow: #002e6d 1.8px 3px 0px;
    -webkit-text-stroke: 1px #002e6d;
  }

  .shadow_reverse {
    text-shadow: #ffffff 1.5px 1.5px 0px;
    -webkit-text-stroke: 1px #ffffff;
  }

  .shadow_h1 {
    text-shadow: #002e6d 1.8px 3px 0px;
    -webkit-text-stroke: 1px #002e6d;
  }

  .shadow_h2 {
    text-shadow: #002e6d 1.8px 3px 0px;
    -webkit-text-stroke: 1px #002e6d;
  }

  .heading-2 {
    @apply text-white text-3xl uppercase font-primetime;
  }

  .list li {
    padding-top: 15px;
  }
}
