@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #383838;
}

@font-face {
  font-family: "gotham-black";
  src: url("../Fonts/Gotham-Black_1.otf");
}

@font-face {
  font-family: "gotham-black-italic";
  src: url("../Fonts/Gotham-BlackItalic_1.otf");
}

@font-face {
  font-family: "neosans-bold";
  src: url("../Fonts/Neo\ Sans\ Std\ Bold.otf");
}

@font-face {
  font-family: "neosans-medium";
  src: url("../Fonts/Neo\ Sans\ Std\ Medium.otf");
}

@font-face {
  font-family: "neosans-regular";
  src: url("../Fonts/Neo\ Sans\ Std\ Regular.otf");
}

@font-face {
  font-family: "primetime";
  src: url("../Fonts/PRIMETIME.ttf");
}

@font-face {
  font-family: "circularStd";
  src: url('../Fonts/CircularStd-Black.ttf')
}

@layer components {
  .hero {
    background-image: url(./../public/hero_bg.jpg);
  }

  .school_year {
    background-image: url(./../public/school_year.jpg);
  }

  .scholarship {
    background-image: url(./../public/scholarship_bg.jpg);
  }

   .howto {
    background-image: url(./../public/howto_bg.jpg);
  }

.registration {
    background-image: url(./../public/howto_bg.jpg);
  }

  .shadow {
    text-shadow: #002e6d 1.8px 3px 0px;
    -webkit-text-stroke: 1px #002e6d;
  }


  .shadow_reverse {
    text-shadow: #ffffff 1px 1px 0px;
    -webkit-text-stroke: 1px #ffffff;
  }

  .shadow_h1 {
       text-shadow: #002e6d 1.8px 3px 0px;
     -webkit-text-shadow: #002e6d 1.8px 3px 0px;
    -webkit-text-stroke: 1px #002e6d;
  }

  .shadow_h2 {
    text-shadow: #002e6d 1.8px 3px 0px;
     -webkit-text-shadow: #002e6d 1.8px 3px 0px;
    -webkit-text-stroke: 1px #002e6d;
  }

  .shadow_h3 {
    text-shadow: #002e6d 3px 1px 0px;
    -webkit-text-shadow: #002e6d 3px 1px 0px;
    color:white;
    -webkit-text-stroke: 0.5px #002e6d;
  }

  .heading-2 {
    @apply text-white text-3xl uppercase font-primetime;
  }

  .list li {
    padding-top: 15px;
  }
  .form-field{
    padding-bottom: 15px;
  }
  
}

.section{
 @apply pl-4 pr-4 
 md:pl-10 md:pr-10
}

.imgWidth {
  width: calc(100vw - 50%);
}
